* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./backgroung.jpg);
}

.container {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3rem;
  padding: 60px;
}

.form-group {
  margin-bottom: 1rem;
  display: inline;
}

.inputValue {
  width: 65vw;
  max-width: 750px;
  padding: 0.5rem 1rem;
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
  color: #495057;
  background: white;
  border: none;
  border-radius: 0.25rem;
}

.search {
  color: white;
  background: rgb(95, 95, 95);
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h2 {
  line-height: 1.2;
}

.card {
  padding: 1rem;
  color: white;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.no-img-border {
  border: 1px solid white;
}

.frame-bg {
  background: rgba(13, 13, 13, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding-top: 50px;
  /* border: 1px solid rgb(122, 122, 122); */
  border-radius: 25px;
  line-height: 1.5;
}

.frame-bg img {
  width: 80%;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.content-div {
  color: white;
}

.hide {
  display: none;
}

.element,
h2 {
  padding-bottom: 30px;
  padding-left: 30px;
  text-align: left;
}

.release {
  padding-left: 30px;
  text-align: left;
}

.overview {
  max-width: 450px;
  text-align: justify;
  padding: 0 2rem;
}

.close-btn {
  display: block;
  text-align: right;
  padding: 50px;
  font-size: 4rem;
  color: rgb(241, 104, 104);
}

i {
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
}
